# ----------------------------------------------------------------------
# 1. Environment and Credentials (WAJIB DIHINDARI)
# ----------------------------------------------------------------------
.env                  # File yang berisi token API bot Anda
firebase-debug.log    # Log debug dari Firebase CLI
.firebase             # Direktori yang digunakan oleh Firebase CLI secara lokal

# ----------------------------------------------------------------------
# 2. Virtual Environment Python (venv)
# ----------------------------------------------------------------------
# Ini adalah folder yang dibuat saat Anda menjalankan 'python3 -m venv venv'
venv/
.venv/
env/
.env/

# Ignore semua bytecode Python (.pyc, .pyo)
*.pyc
__pycache__/

# ----------------------------------------------------------------------
# 3. Dependencies Python
# ----------------------------------------------------------------------
# Folder tempat pip menginstal semua library Python
# Biasanya dibuat secara otomatis oleh venv
# Catatan: File requirements.txt HARUS di-commit.
/lib/
/lib64/
/include/
/bin/

# ----------------------------------------------------------------------
# 4. File Editor dan OS (Opsional)
# ----------------------------------------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db